<template>
  <div class="section">
    <div class="container">
      <FlicksListFilters @filter="updateFilters"/>
      <div v-if="filteredFlicks.length > 0"> 
        <FlicksListItem
          v-for="(flick, index) in filteredFlicks"
          :flick="flick"
          :key="index"
        />
      </div>
      <div
        class="has-text-centered"
        v-else
      >
        <h2 class="title is-4"> There is nothing here 😞 </h2>
      </div>
    </div>
  </div>
</template>

<script>
import FlicksListFilters from '@/components/FlicksListFilters.vue';
import FlicksListItem from '@/components/FlicksListItem.vue';
import flickService from '@/flick-service';

export default {
  name: 'FlicksList',
  components: { FlicksListItem, FlicksListFilters },
  data: () => ({
    flicks: [],
    onlyNotAired: false,
    flickSearch: '',
  }),
  computed: {
    filteredFlicks() {
      const flicks = this.flicks.filter(flick => flick.title.toLowerCase().includes(this.flickSearch.toLowerCase()));
      return this.onlyNotAired ? flicks.filter(flick => flick.aired === false) : flicks;
    },
  },
  async created() {
    this.flicks = await flickService.getFlicks();
  },
  methods: {
    updateFilters({ onlyNotAired, flickSearch }) {
      this.onlyNotAired = onlyNotAired;
      this.flickSearch = flickSearch;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
