<template>
  <article class="message">
    <div class="message-body">
      <div class="columns">
        <div class="column is-narrow">
          <div class="control">
            <div class="field is-checkbox">
              <input
                id="only-not-aried"
                type="checkbox"
                name="only-not-aired"
                class="switch"
                v-model="onlyNotAired"
              >
              <label for="only-not-aried">
                Display not aired
              </label>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Search for flick..."
              v-model="flickSearch"
            >
          </div>
        </div>
      </div>
    </div> 
  </article>
</template>

<script>
export default {
  name: 'FlicksListFilters',
  data: () => ({
    onlyNotAired: false,
    flickSearch: '',
  }),
  watch: {
    onlyNotAired(onlyNotAired) {
      this.$emit('filter', {
        onlyNotAired,
        flickSearch: this.flickSearch,
      });
    },
    flickSearch(flickSearch) {
      this.$emit('filter', {
        onlyNotAired: this.onlyNotAired,
        flickSearch,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.field.is-checkbox {
  margin-top: 6px;
}
</style>
