<template>
  <article class="message">
    <div class="message-body">
      <h2
        class="title">
        <a
          :href="flick.link"
          target="_blank"
        >
          {{ flick.title }}
        </a>
      </h2>
      <div class="columns">
        <div class="column is-narrow">
          <span
            :class="{ 'is-success': flick.aired, 'is-danger': !flick.aired }"
            class="tag is-medium"
          >
            {{ flick.aired ? 'aired' : 'not aired' }}
          </span>
        </div>
        <div class="column is-2">
          <span class="tag is-medium">Date aired: {{ flick.dateAired }}</span>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'FlicksListItem',
  props: {
    flick: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
