<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <h1 class="title">
              Flicks
              <span>🍿</span>
            </h1>
          </div>

          <div class="column is-6 is-offset-2">
            <div class="buttons">
              <button class="button is-info" @click="onCopyPoll">Copy poll</button>
              <a
                class="button is-white is-flick-suggestion"
                target="_blank"
                href="https://goo.gl/forms/9vqJZHHLF58HOOre2"
              >Add flick suggestion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import flickService from '@/flick-service';
import { copyStringToClipboard } from '@/utils';

export default {
  name: 'FlicksHeader',
  data: () => ({
    flicks: [],
    pollString: '',
  }),
  methods: {
    onCopyPoll() {
      copyStringToClipboard(`/poll "What should we watch?" ${this.pollString}`);
    },
  },
  async created() {
    this.flicks = await flickService.getFlicks();
    this.flicks = this.flicks.filter(flick => flick.aired === false);
    this.pollString = this.flicks.map(flick => `"${flick.title}"`).join(' ');
  },
};
</script>

<style lang="scss" scoped>
</style>
