<template>
  <div id="app">
    <FlicksHeader />
    <router-view/>
  </div>
</template>

<script>
import FlicksHeader from '@/components/FlicksHeader.vue';

export default {
  name: 'FlicksApp',
  components: { FlicksHeader },
};
</script>

<style lang="scss">
</style>
